body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Playfair Display', serif;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.85)),
    url('batsearcher-portada.png') center/cover no-repeat fixed;
}

.portada {
  background: url('batsearcher-portada.png') center/cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  background: #000;
  text-align: center;
  padding: 1rem;
}

nav a {
  color: #f5e6b3;
  text-decoration: none;
  padding: 0.7rem 1.2rem;
}

nav a.active,
nav a:hover {
  background: #facc15;
  color: #111;
}

main {
  min-height: 70vh;
  background: #111;
  padding: 2rem;
  text-align: center;
}

footer {
  background: #000;
  padding: 1rem;
  text-align: center;
  color: #aaa;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Playfair Display', serif;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.85)),
    url('batsearcher-portada.png') center/cover no-repeat fixed;
}
